<!-- wp:pattern {"slug":"theme_test/header"} /-->

<!-- wp:pattern {"slug":"theme_test/heroContent"} /-->

<!-- wp:pattern {"slug":"theme_test/statsBar"} /-->

<!-- wp:pattern {"slug":"theme_test/vision"} /-->

<!-- wp:pattern {"slug":"theme_test/statsbar"} /-->

<!-- wp:pattern {"slug":"theme_test/mission"} /-->

<!-- wp:pattern {"slug":"theme_test/pillars"} /-->

<!-- wp:pattern {"slug":"theme_test/personFounder"} /-->

<!-- wp:pattern {"slug":"theme_test/sectionPyTeam"} /-->

<!-- wp:pattern {"slug":"theme_test/footer"} /-->