<!-- wp:pattern {"slug":"theme_ai_center/header"} /-->

<!-- wp:pattern {"slug":"theme_ai_center/heroContent"} /-->

<!-- wp:pattern {"slug":"theme_ai_center/statsBar"} /-->

<!-- wp:pattern {"slug":"theme_ai_center/vision"} /-->

<!-- wp:pattern {"slug":"theme_ai_center/statsbar"} /-->

<!-- wp:pattern {"slug":"theme_ai_center/mission"} /-->

<!-- wp:pattern {"slug":"theme_ai_center/pillars"} /-->

<!-- wp:pattern {"slug":"theme_ai_center/personFounder"} /-->

<!-- wp:pattern {"slug":"theme_ai_center/sectionPyTeam"} /-->

<!-- wp:pattern {"slug":"theme_ai_center/footer"} /-->