<!-- wp:pattern {"slug":"theme_ai_center/header"} /-->

<!-- wp:pattern {"slug":"theme_ai_center/heroHome"} /-->

<div class="featured-news">
    <div class="center">
        <div class="section-header">
            <h6>News</h6>
            <a class="link" href="news">
                <span>Read all news</span>
            </a>
        </div>
        <div class="row">
            <!-- wp:pattern {"slug":"theme_ai_center/featuredNews"} /-->

        </div>
        </div>
        </div>

<!-- wp:pattern {"slug":"theme_ai_center/events"} /-->



<!-- wp:pattern {"slug":"theme_ai_center/footer"} /-->
