<!-- wp:pattern {"slug":"theme_ai_center/header"} /-->

<!-- wp:pattern {"slug":"theme_ai_center/hero"} /-->

<div class="section-article">
    <div class="center">
        <div class="row">
            <!-- wp:pattern {"slug":"theme_ai_center/publishedAndShare"} /-->

            <div class="col-sm-12 col-md-8 col-6 article-container">
                <!-- wp:post-content {"className":"article"} /-->
                <!-- wp:pattern {"slug":"theme_ai_center/approachAndPublications"} /-->
            </div>

            <div class="share">
                <h6>Share</h6>
                <ul class="share-options">
                    <!-- wp:theme-ai-center/share-buttons /-->
                    <li><a href="#"><i class="icon ph ph-link-simple"><span class="sr-only">Copy link</span></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- wp:pattern {"slug":"theme_ai_center/footer"} /-->