<!-- wp:pattern {"slug":"theme_ai_center/header"} /-->

<!-- wp:pattern {"slug":"theme_ai_center/hero"} /-->

<div class="section-article">
    <div class="center">
        <div class="row">
            <!-- this line replace the call to the pattern "publishedAndShare" to put an empty column. Replace with the pattern if needed. -->
            <div class="col-sm-12 col-md-4 col-3 article-details"></div>


            <div class="col-sm-12 col-md-8 col-6 article-container">
                <!-- wp:post-content {"className":"article"} /-->
                <!-- wp:pattern {"slug":"theme_ai_center/publications"} /-->
            </div>

            <div class="share">
                <h6>Share</h6>
                <ul class="share-options">
                    <!-- wp:theme-ai-center/share-buttons /-->
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- wp:pattern {"slug":"theme_ai_center/footer"} /-->