<!-- wp:template-part {"slug":"header","theme":"theme_test","area":"uncategorized"} /-->

<!-- wp:post-featured-image {"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|40"}}}} /-->


<!-- wp:paragraph -->
<p>In the short span of 10 years since a Deep Neural Network won the ImageNet challenge, Machine Learning (ML or AI is it is often called now) has deeply revolutionized fields where data can be easily collected and used to discover complex patterns and relationships that would otherwise escape the human mind. In computer science areas alone, vision, graphics or language processing have been fundamentally impacted and went through a quantum leap in quality.&nbsp;</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Computational sciences have been broadly impacted too, with access to brand new ways to do simulation and exploit complex models. It is therefore perhaps unsurprising that fundamental sciences are next in line with profound impact on downstream engineering. From protein folding to the simulation of Partial Differential Equations, what is truly emerging is a significant update to the scientific method itself: a move from human-conceived models to data driven models learnt with ML and specialized by domain knowledge. This new way of reasoning will help domain scientists formulate new research questions and look for answers in new ways and that will translate in engineering solutions for problems we are not able to solve at present.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Accelerating the transition toward this new way of doing Science, means finding solutions to some of humanity’s most pressing challenges faster but it requires a strong collaborative effort across disciplines. Bridging between Machine Learning and its use in Science, furthering our understanding of ML models so we can truly use them as scientist co-pilots are the main goals of the AI4Science initiative.</p>
<!-- /wp:paragraph -->

<!-- wp:heading {"level":3} -->
<h3 class="wp-block-heading"><strong>How to get involved?&nbsp;</strong></h3>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>Apply to our unique&nbsp;<a href="https://www.epfl.ch/research/domains/cis/ai4science/ai4science-initiative/call-for-fellows/">AI4Science fellowship program&nbsp;</a></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Join the<a href="https://edu.epfl.ch/coursebook/en/lecture-series-on-scientific-machine-learning-PHYS-754?">&nbsp;Lecture series on scientific machine learning</a>&nbsp;(Doctoral School)</p>
<!-- /wp:paragraph -->

<!-- wp:template-part {"slug":"footer","theme":"theme_test","area":"uncategorized"} /-->
