<!-- wp:pattern {"slug":"theme_ai_center/headerDark"} /-->

<!-- wp:pattern {"slug":"theme_ai_center/heroDarkTheme"} /-->

<div class="section-article">
    <div class="center">
        <div class="row">
            <!-- wp:pattern {"slug":"theme_ai_center/publishedAndShare"} /-->
            
            <div class="col-sm-12 col-md-8 col-6 article-container">
                <!-- wp:post-content {"className":"article"} /-->
            </div>
                
            <!-- wp:pattern {"slug":"theme_ai_center/researchTopics"} /-->

        </div>
    </div>
</div>


<!-- wp:pattern {"slug":"theme_ai_center/interestedIn"} /-->

<!-- wp:pattern {"slug":"theme_ai_center/footer"} /-->
