<!-- wp:pattern {"slug":"theme_ai_center/header"} /-->

<!-- wp:pattern {"slug":"theme_ai_center/heroDarkTheme"} /-->

<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group main-content">
    <!-- wp:pattern {"slug":"theme_ai_center/publishedAndShare"} /-->
    
    <!-- wp:group {"layout":{"type":"constrained"}, "tagName":"main" } -->
    <main class="wp-block-group col-6">
        <!-- wp:post-content /-->
    </main>
    <!-- /wp:group -->
        
    <!-- wp:pattern {"slug":"theme_ai_center/researchTopics"} /-->
</div>
<!-- /wp:group -->
    
<!-- wp:pattern {"slug":"theme_ai_center/footer"} /-->
